.animate__animated.animate__delay-05s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.animate__animated.animate__delay-15s {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.animate__animated.animate__delay-175s {
    -webkit-animation-delay: 1.75s;
    animation-delay: 1.75s;
}
.animate__animated.animate__delay-25s {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s;
}
