img {
    max-width: 100%;
}
.icon-circle {
    width: 52px;
    height: 52px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-primary {
    background-color: $color-primary;
}
.bg-second {
    background-color: $color-second;
}
