.hero-section {
    overflow: hidden;
    background-image: url("../images/hero-bg.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto;

    padding-top: 100px;

    &__content {
        height: calc(100vh - 100px);
    }
    &__left {
        padding-top: 50px;
    }

    &__label {
        font-family: $font-primary;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        text-transform: uppercase;

        color: $color-third;

        // margin-bottom: 25px;
    }
    &__title {
        max-width: 90%;

        font-family: $font-second;
        font-style: normal;
        font-weight: 700;
        font-size: 84px;
        line-height: 89px;
        letter-spacing: -0.04em;

        color: #181e4b;

        // margin-bottom: 30px;
    }
    &__description {
        max-width: 75%;

        font-family: $font-primary;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;

        color: $color-text;

        // margin-bottom: 35px;
    }
    &__actions {
        gap: 45px;
    }

    &__img {
        // width: 765px;
        // height: 765px;
        width: 100%;
        height: 100%;
        max-width: max-content;
        position: relative;
        left: -20%;
    }
}
