.header {
    width: 100%;
    position: fixed;
    top: 40px;
    left: 0;

    &__logo {
        &__img {
            width: 165px;
            height: 50px;
            object-fit: contain;
        }
    }
    &__nav {
        a {
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            line-height: 22px;

            color: #212832;
            background-color: transparent;

            margin-right: 45px;
            padding: 8px 15px;

            border-radius: 18px 5px 10px;
            transition: all 0.25s;

            &:hover,
            &:focus {
                color: $white;
                background-color: $color-third;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}
