$color-primary: #79dae8;
$color-second: #e8f9fd;
$color-third: #0aa1dd;

$white: #ffffff;
$black: #000000;

$color-text: #5e6282;
$color-h1: #181e4b;
$color-h2: #14183e;
$color-h3: #1e1d4c;

$color-dark: #080809;
$color-special: #f1a501;
$color-red: #f15a2b;
$color-green-dark: #006380;
$color-yellow: #f0bb1f;
