@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Bold.eot');
    src: url('Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Bold.woff2') format('woff2'),
        url('Merriweather-Bold.woff') format('woff'),
        url('Merriweather-Bold.ttf') format('truetype'),
        url('Merriweather-Bold.svg#Merriweather-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-BoldItalic.eot');
    src: url('Merriweather-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-BoldItalic.woff2') format('woff2'),
        url('Merriweather-BoldItalic.woff') format('woff'),
        url('Merriweather-BoldItalic.ttf') format('truetype'),
        url('Merriweather-BoldItalic.svg#Merriweather-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

