<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEADER</title>
    <link rel="stylesheet" href="../assets/main/main.css">
</head>

<body>
    <header id="header" class="header">
        <div class="container">
            <div class="row align-items-start align-items-lg-center flex-lg-row flex-column">
                <div class="col-auto">
                    <div class="header__logo">
                        <a href="#">
                            <img class="header__logo__img" src="../assets/images/logo-header.webp" alt="">
                        </a>
                    </div>
                </div>
                <div class="col ml-auto">
                    <nav class="header__nav w-100 text-lg-end text-start d-lg-block d-flex flex-column">
                        <a href="#services">Dịch vụ</a>
                        <a href="#showcase">Các Dự Án</a>
                        <a href="#howToBook">Cách Book Website</a>
                        <a href="#howToBook">Lời Chứng Thực</a>
                        <a class="menu-item-has-dropdown d-inline-flex" href="#howToBook">EN <img
                                src="../assets/images/icons/arrow-dropdown.svg" class="ms-1" alt=""></a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</body>

</html>